<?xml version="1.0"?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
  <add name="CharDoc3" connectionString="Data Source=sprs002.dtinet.net;Initial Catalog=CharDoc3;Persist Security Info=True;User ID=svc_CharDoc3;Password=ch@rD0c3&#xD;&#xA;;Pooling=false;Connect Timeout=300;"

   providerName="System.Data.SqlClient" />
  <add name="CharDoc2" connectionString="Data Source=sprs002.dtinet.net;Initial Catalog=CharDoc;Persist Security Info=True;User ID=webapp;Password=webapp"
   providerName="System.Data.SqlClient" />
  
 </connectionStrings>
	<system.web>
		<pages>
			<controls>
				<add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			</controls>
		</pages>
		<!--
          Set compilation debug="true" to insert debugging
          symbols into the compiled page. Because this
          affects performance, set this value to true only
          during development.
    -->
		<compilation debug="true" urlLinePragmas="true">
		</compilation>
		<httpHandlers>
		</httpHandlers>
		<httpModules>
		</httpModules>
		<customErrors mode="Off"/>
	</system.web>
 <location path="Default.aspx"  inheritInChildApplications="true">
  <connectionStrings>
   <remove name="CharDoc3" />
   <add name="CharDoc3" connectionString="Data Source=sprs002.ivlus.net;Initial Catalog=CharDoc3;Persist Security Info=True;User ID=svc_CharDoc3;Password=ch@rD0c3&#xD;&#xA;;Pooling=false;Connect Timeout=300;"
    providerName="System.Data.SqlClient" />
   <remove name="CharDoc2" />
   <add name="CharDoc2" connectionString="Data Source=sprs002.ivlus.net;Initial Catalog=CharDoc;Persist Security Info=True;User ID=webapp;Password=webapp"
    providerName="System.Data.SqlClient" />
  </connectionStrings>
 </location>
</configuration>
