vti_encoding:SR|utf8-nl
vti_author:SR|DTINET\\MLEFEVRE
vti_modifiedby:SR|DTINET\\MLEFEVRE
vti_timelastmodified:TR|03 Jul 2007 17:28:29 -0000
vti_timecreated:TR|23 Apr 2007 20:23:52 -0000
vti_extenderversion:SR|5.0.2.2623
vti_lineageid:SR|{4410D7F1-7E64-4C42-BBA1-7C6FBDC1FD1E}
vti_backlinkinfo:VX|test.htm
vti_nexttolasttimemodified:TW|08 May 2007 20:21:54 -0000
vti_cacheddtm:TX|03 Jul 2007 17:28:29 -0000
vti_filesize:IR|1517
